.image {
	margin-top: auto;
	margin-bottom: auto;

	display: flex;

	padding: auto;
	padding-top: auto;
	max-width: 80rem;
	max-height: 60rem;
	width: auto;
	height: auto;
}

.main {
	padding-top: 4rem;
	margin-top: auto;
	margin-bottom: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}
.text {
	/* padding-top: 0.3rem; */
	/* padding-bottom: 0.3rem; */
	font-size: 3rem;
}
