@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	background-color: #212121;
}

header div {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Sigmar One, cursive;
	text-align: center;
}
