* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	background-color: #212121;
}

header div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

ul > li {
	margin-left: 10px;
}

ul {
	margin-left: 10px;
}
